@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 -15px;
}
.title{
    font-size: 25px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    color: #9A9A9A;
    margin: 50px 0;
}
.boxImg{
    border: 1px solid rgba(49, 50, 51, 0.121);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 140px;
    margin: 20px 20px 10px 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, #E0E2E6 0%, #FFFFFF 100%);
    box-shadow: rgba(49, 50, 51, 0.121);

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.col-4{
    width: 33.333%;
    padding: 0 10px;
    margin: 0 -10px;

}
.inputName{

}
.petrolName{
   border: 1px solid rgba(49, 50, 51, 0.121);
    width: 240px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #F7F9FD;
    margin: 5px 20px 70px 20px;
}


.inputLiters{
    border: 1px solid #AFACAC;
    border-radius: 4px;
    width: 240px;
    height: 30px;
    margin: 5px 0 45px;

}
.litersSubtitle{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.totalPrice{
    margin-top: 20px ;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-left: 5px;
}
.petrolType{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 0 5px ;
}
.priceForOne{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 0 5px;

}
.totalLiters{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 0 5px;
}
.vat{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 0 5px;
}

.active{
    background: linear-gradient(180deg, #30B3BB 0%, #BAFBFF 100%)
}